/.mkbuild
/.ninja_deps
/.ninja_log
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/CMakeCache.txt
/CMakeFiles/
/CTestTestfile.cmake
/INSTALL.vcxproj
/INSTALL.vcxproj.filters
/MK_DIST/
/Makefile
/RUN_TESTS.vcxproj
/RUN_TESTS.vcxproj.filters
/Release/
/Testing/
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/argh.h
/build.ninja
/ca-bundle.pem
/catch.hpp
/cmake_install.cmake
/install_manifest.txt
/libmkcurl.a
/mkcurl-client
/mkcurl-client.dir/
/mkcurl-client.vcxproj
/mkcurl-client.vcxproj.filters
/mkcurl.sln
/mkmock.hpp
/rules.ninja
/tests
/tests.dir/
/tests.vcxproj
/tests.vcxproj.filters
/windows-curl-*.tar.gz
/x64/
