/.ninja_deps
/.ninja_log
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/CMakeCache.txt
/CMakeFiles/
/CTestTestfile.cmake
/INSTALL.vcxproj
/INSTALL.vcxproj.filters
/MK_DIST/
/Makefile
/RUN_TESTS.vcxproj
/RUN_TESTS.vcxproj.filters
/Release/
/Testing/
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/argh.h
/build.ninja
/ca-bundle.pem
/catch.hpp
/cmake_install.cmake
/install_manifest.txt
/libcurlx-client
/libcurlx-client.dir/
/libcurlx-client.vcxproj
/libcurlx-client.vcxproj.filters
/libcurlx.sln
/rules.ninja
/unit-tests
/unit-tests.dir/
/unit-tests.vcxproj
/unit-tests.vcxproj.filters
/windows-curl-*.tar.gz
/x64/
