/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/argh.h
/ca-bundle.pem
/catch.hpp
/cmake_install.cmake
/CMakeCache.txt
/CMakeFiles/
/CTestTestfile.cmake
/INSTALL.vcxproj
/INSTALL.vcxproj.filters
/install_manifest.txt
/libcurlx.sln
/libcurlx-client
/libcurlx-client.dir/
/libcurlx-client.vcxproj
/libcurlx-client.vcxproj.filters
/Makefile
/MK_DIST/
/Release/
/RUN_TESTS.vcxproj
/RUN_TESTS.vcxproj.filters
/Testing/
/unit-tests
/unit-tests.dir/
/unit-tests.vcxproj
/unit-tests.vcxproj.filters
/windows-curl-*.tar.gz
/x64/
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
